{% extends "base.jinja2" %}

{% block content %}

<style>
.report-section {
    margin: 1em 0.5em;
}
</style>

<div class="report-section">
    <h4>Jupyter Notebooks</h4>
    <ol>
        <li>
            <span>Sensor Data Visualization</span>
            <i class="fa fa-angle-double-right fa-xs"></i>
            <a href="https://colab.research.google.com/drive/1rKo09wYBMklOnN34WYWc4fIJEWU0QIN6">
                <img src="{{url_for('static', filename='images/colab-badge.svg')}}" alt="Open in Colab"/>
            </a>
        </li>

        <li>
            <span>Sensor Data Analysis</span>
            <i class="fa fa-angle-double-right fa-xs"></i>
            <a href="https://colab.research.google.com/drive/1m2BvtiiLbee9nIVdmaFmDK6MTbx0XJLc">
                <img src="{{url_for('static', filename='images/colab-badge.svg')}}" alt="Open in Colab"/>
            </a>
        </li>
    </ol>
</div>

<div class="report-section">
    <h4>Writeup</h4>
    <i>WIP</i>
</div>

{% endblock %}
