{% extends "base.jinja2" %}

{% block content %}

<h1>Image Recognition</h1>
<p>Choose a file and click upload. The result image will be the image with errors circled.</p>
<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file">
    <br /><br />
    <input type="submit" value="Upload">
    <br /><br />
</form>

{% if path %}
    <img src="{{url_for('static', filename=path)}}" 
{% endif %}

{% endblock %}