{% extends "base.jinja2" %}

{% block content %}
<div class="mx-5">
  <div class="card-group text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Interactive Data Visualization Dashboard</h5>
        <h6 class="card-subtitle mb-2 text-muted">Built with Plotly Dash</h6>
        <p class="card-text">Upload a CSV file containing SLM280 and SLM500 sensor data to dynamically generate graphs and insights.</p>
        <a href="/data-dashboard" class="btn btn-primary">Go to Dashboard</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Interactive CNN Dashboard</h5>
        <h6 class="card-subtitle mb-2 text-muted">WIP</h6>
        <p class="card-text">Upload a sensor image and determine if the sensor is faulty or not.</p>
        <a href="/ml-dashboard" class="btn btn-secondary">Go to Dashboard</a>
      </div>
    </div>
  </div>

  <div class="card-group text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Consumer Reference</h5>
        <h6 class="card-subtitle mb-2 text-muted">For SLM280 and SLM500 Data</h6>
        <p class="card-text">Reference for the SLM280 and SLM500 variables so that consumers can understand the data analysis better.</p>
        <a href="/ref" class="btn btn-primary">Go to Reference</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Team Reports</h5>
        <h6 class="card-subtitle mb-2 text-muted">Done on Google Colab</h6>
        <p class="card-text">Our personal research on data analysis and machine learning thus far that has driven the creation of this website.</p>
        <a href="/research" class="btn btn-primary">Go to Reports</a>
      </div>
    </div>
  </div>
</div>

<div class="mx-5 mt-4 text-center">
  <h4>Team 2</h4>
  <p>Callista, Lea, Leon, Swati</p>
  <i class="fab fa-github-square"></i>
  <a href="https://github.com/callistachang/dashboard-app">GitHub Link</a>
</div>
{% endblock %}
