{% extends "base.jinja2" %}

{% block content %}

<style>
.report-section {
    margin: 1em 0.5em;
}
</style>

<div class="report-section">
    <h4>Data Analysis</h4>
    <ol>
        <li>
            <span>Sensor Data Visualization</span>
            <i class="fa fa-angle-double-right fa-xs"></i>
            <a href="https://colab.research.google.com/drive/1rKo09wYBMklOnN34WYWc4fIJEWU0QIN6" target="_blank">
                <img src="{{url_for('static', filename='images/colab-badge.svg')}}" alt="Open in Colab"/>
            </a>
        </li>

        <li>
            <span>Sensor Data Analysis</span>
            <i class="fa fa-angle-double-right fa-xs"></i>
            <a href="https://colab.research.google.com/drive/1m2BvtiiLbee9nIVdmaFmDK6MTbx0XJLc" target="_blank">
                <img src="{{url_for('static', filename='images/colab-badge.svg')}}" alt="Open in Colab"/>
            </a>
        </li>
    </ol>
    <h4>Machine Learning</h4>
    <ol>
        <li>
            <span>LSTM Network with Keras</span>
            <i class="fa fa-angle-double-right fa-xs"></i>
            <a href="https://colab.research.google.com/drive/1R2mkXq5DmrAIb1kudjHTr4DMpOhb4oxD" target="_blank">
                <img src="{{url_for('static', filename='images/colab-badge.svg')}}" alt="Open in Colab"/>
            </a>
            {# <p><i>We will be using a Long Short Term Memory neural network to predict oxygen levels for the next day and send a warning if it rises above the threshold.</i></p> #}
        </li>
    </ol>
</div>

{% endblock %}
